---
import "./Button.css";

interface Props {
  href: string;
  target?: "_blank" | "_self" | "_parent" | "_top";
}

const { href, target } = Astro.props;
---

<a class="button" href={href} target={target}>
  <slot />
</a>
