---
import Layout from "../layouts/Layout.astro";
import { Button } from "@oddify";
---

<Layout title="Oddify Documentation">
  <header>
    <h1>Oddify Documentation</h1>
  </header>
  <main>
    <Button>Hello Astro!</Button>
  </main>
</Layout>
