---
import Layout from "../layouts/Layout.astro";
import { Button } from "@oddify";
---

<Layout title="Oddify Documentation">
  <header>
    <h1 class="text-3xl font-bold">Oddify Documentation</h1>
  </header>
  <main class="mt-5">
    <Button>Hello Astro!</Button>
  </main>
</Layout>
