---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Oddify - Credits" }>
  <section class="mt-16">
    <h1 class="text-3xl font-medium title-font text-white mb-5">Credits</h1>
    <ul>
      <li>
        Oddify library created by <a
          class="underline"
          href="https://github.com/joacod"
          target="_blank"
          rel="noopener noreferrer"
          title="Joaquin Diaz on GitHub"
        >
          Joaquin Diaz
        </a>
      </li>
      <li>
        Oddify icon by <a
          class="underline"
          href="https://www.freepik.com/icon/confused_1698609#fromView=search&term=odd&track=ais&page=3&position=4&uuid=a4226712-5214-485e-852f-90446a28c6e1"
          target="_blank"
          rel="noopener noreferrer"
          title="Confused icon on Freepik"
        >
          Freepik
        </a>
      </li>
      <li>
        Container and Input CSS by <a
          class="underline"
          href="https://codepen.io/tabaregp14/pen/QWLEKYN"
          target="_blank"
          rel="noopener noreferrer"
          title="CSS by tabaregp14"
        >
          tabaregp14
        </a>
      </li>
      <li>
        Toggle switch CSS by <a
          class="underline"
          href="https://codepen.io/marcusconnor/pen/QJNvMa"
          target="_blank"
          rel="noopener noreferrer"
          title="CSS by Marcus Connor"
        >
          Marcus Connor
        </a>
      </li>
    </ul>
  </section>
</Layout>
