---
import { Button } from "@oddify";
import GithubIcon from "../icons/Github.astro";
import NpmIcon from "../icons/Npm.astro";
---

<nav
  class="fixed flex justify-between top-0 z-50 w-full bg-violet-900 opacity-80 text-white text-center shadow-lg p-3"
>
  <div class="flex justify-start items-center space-x-2">
    <p>Oddify</p>
  </div>
  <div class="flex justify-end items-center">
    <Button href="https://www.npmjs.com/package/oddify" target="_blank">
      <NpmIcon />
    </Button>
    <Button href="https://github.com/joacod/oddify" target="_blank">
      <GithubIcon />
    </Button>
  </div>
</nav>
