---
import "./Toggle.css";

interface Props {
  left: string;
  right: string;
  checked?: boolean;
}

const { left, right, checked = true } = Astro.props;
---

<label class="toggle">
  <input type="checkbox" checked={checked} />
  <span class="switch-left">{left}</span>
  <span class="switch-right">{right}</span>
</label>
